<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Add Date</h1>

<nav th:replace="fragments :: candidate_navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${date}">

    <div class="form-group">
        <label th:for="year">Year</label>
        <input class="form-control" th:field="*{year}" />
        <span th:errors="*{year}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="month">Month</label>
        <input class="form-control" th:field="*{month}" />
        <span th:errors="*{month}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="day">Day</label>
        <input class="form-control" th:field="*{day}" />
        <span th:errors="*{day}" class="error"></span>
    </div>

    <input type="submit" value="Add Date" />
</form>

</body>
</html>