<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Election Info</title>
</head>
<body>

    <h1>National Elections</h1>
    <p>
        There are several types of elections in Missouri. The best known are national elections. National elections
        in the United States are held in even numbered years. Since 1845, they have been held on the first Tuesday
        after the first Monday in November - that is, elections are on whichever day from November 2 to November 8 is a
        Tuesday. National elections always have a vote for a Representative in the United States House of
        Representatives. In years that are multiples of four, they have a vote for President and Vice President of
        the United States. (National elections that do NOT have a Presidential race are often called midterms.)
        Two thirds of the time, the national election that takes place in a particular state will have a race
        for Senator in the United States Senate.
    </p>
    <p>
        Missouri has a U.S. Senate race on the ballot on years where the total year number is a multiple of 6 (like
        2010) or 2 more than a multiple of 6. This means that in the 21st century, Missouri has elections for U.S.
        Senator in years in which the last two digits are a multiple of six or two less than a multiple of six. Thus,
        for example, Missouri had a U.S. Senate race on the ballot in 2010 (and one scheduled for every six years
        thereafter, like the one in 2010) and in 2012 (and one scheduled for every six years thereafter), but not in
        2014. So, Missouri had, or will have, U.S. Senate races in 2000, 2004, 2006, 2010, 2012, 2016, 2018,
        2022, 2024, 2028, 2030, 2034, 2036, 2040, 2042, etc.
    </p>
    <p>
        Missouri was admitted as a state in August of 1821, following the Missouri Compromise of 1820. Missouri's
        fourth and current state constitution was adopted in 1945, although it has been amended numerous times.
    </p>
    <p>
        Generally, county and township level offices in Missouri have votes at the same time as national elections.
        Municipal elections, on the other hand, are usually held on different dates.
    </p>
    <p>
        Votes for President and Vice President of the United States, for United States Senate, and for statewide
        offices are statewide. Votes for legislative seats other than those in the United States Senate are based on
        various types of legislative districts, the lines of which are subject to change. Retention votes for judges in
        Missouri's intermediate appellate courts (the state's District Courts) are by Missouri Judicial Districts,
        which consist of all the counties in a particular part of a state. Votes for county offices are county-wide.
        Votes for township offices are by township.
    </p>
    <p>
        The state is divided into U.S. congressional districts by the state legislature (the Missouri
        General Assembly), with each district represented by one Representative in the United States Congress. The
        borders of these districts are subject to change. The changes usually take place after a national census,
        which takes place every ten years (in years that are multiples of 10), goes into effect three years after
        the census. Sometimes, the census also results in a change in the state's number of Representatives due to
        population changes. For example, after the 2010 Census reapportionment went into effect in 2013, Missouri
        had its representation reduced from nine (9) to eight (8) representatives in the U.S. House of
        Representatives because Missouri's population growth since the 2000 census was slower than that of the fifty
        states as a whole. (This has to do with the United States Constitution's requirement that each state's
        representation in Congress is proportionate to census population, national legislation that has caused the
        total number of voting Representatives to be fixed at 435 since the early 1900s.)
    </p>

    <h1>Primaries for national elections (other than presidential primaries)</h1>
    <p>
        Primary dates in national elections are not uniform among states. From state to state, the primary date ranges
        from May to early September (except in Louisiana, which has atypical election dates). In Missouri, the primary
        is set by state statute to occur on the first Tuesday after the first Monday in August. This occurs
        in years that are multiples of two.
    </p>

    <h1>Presidential primaries</h1>
    <p>
        In Missouri, the presidential primary is separate from all other primaries. While other offices that
        are on the ballot for the national elections in November have their primary in August, Missouri's
        presidential primary is in March, like the one on March 15, 2016. These primaries occur in years
        that are multiples of four.
    </p>

    <h1>Municipal elections</h1>
    <p>
        The same state statute that sets out the day for national primaries as the first Tuesday after the first Monday
        in August, 115.121, also sets for that "The election day for the election of political subdivision and special
        district officers shall be the first Tuesday after the first Monday in April each year, and shall be known as
        the general municipal election day."
    </p>
    <p>
        Not all local votes are on general municipal election day.
        There is a statewide calendar dictating what dates are available for local votes, such as bond issue votes, to
        be held on, but a municipality will usually not hold votes on all of the avalable dates.
    </p>
    <p>Local votes (other than those for county and township offices, which are usually on national election
        day) can relate to municipalities (which are not likely to be on the ballot for those in
        unincorporated areas) and can also relate to special districts such as sewer districts.
    </p>
</body>
</html>